.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyright/
__pycache__/
*.pyc
.uv-cache/

# .env
# .env.*
# !.env.example

*.db
*.sqlite
*.sqlite3

*.egg-info/
build/
dist/

.coverage
.coverage.*
htmlcov/
